# Python
__pycache__/
*.py[cod]
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtual environments
venv/
ENV/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Node modules (if any)
node_modules/

# dotenv environment variables
.env

# Other
*.bak
*.swp

# Rendered test images
temp_rendered_*.jpg