{% extends "base/base.html" %} {% load static %} {% block title %} onerai. |
Главная{% endblock %} {% block content %}
<!-- Hero section -->
<section
  class="hero-section"
  style="
    background-image: url('https://images.unsplash.com/photo-1523381294911-8d3cead13475?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2000&q=80');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 hero-content">
        <h1 class="display-4 fw-bold mb-3">
          Создавайте. Продавайте. <br />Зарабатывайте.
        </h1>
        <p class="lead mb-4">
          Реализуйте свои творческие идеи без производственных затрат. Печать по
          требованию для дизайнеров и брендов в Казахстане.
        </p>
        <div class="hero-buttons">
          <a
            href="https://partners.onerai.kz/accounts/register/"
            class="btn btn-primary btn-lg me-2 mb-2 mb-md-0"
          >
            <i class="fas fa-plus-circle me-2"></i>Создать дизайн
          </a>
          <a
            href="{% url 'store:products' %}"
            class="btn btn-outline-light btn-lg"
          >
            <i class="fas fa-shopping-bag me-2"></i>В магазин
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
